#magicMirrorModule {
    position: fixed;
    bottom: 0;
    left: 1%;
    width: 38%;
    height: 3vh;
    background: linear-gradient(transparent 0%, transparent 66.67%, #D3D3D3 66.67%);
    overflow: hidden;
    transition: height 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
}

#magicMirrorModule:before, #magicMirrorModule.expanded:before {
    content: '⌃';
    font-size: 1.5em; /* Keeping the same font size */
    color: black;
    background: linear-gradient(#D3D3D3, #A9A9A9);
    padding: 0px 15px; /* Adjusted padding to make the box smaller */
    border-radius: 15px;  /* Adjusted for the smaller size */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    align-self: center;
}

#magicMirrorModule:before {
position: absolute; /* Added */
    bottom: -20px; /* Adjust this value to position the button */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Ensure it's perfectly centered */
    z-index: 10000; /* Set a high z-index */
}


.infoGrid {
    display: none;
    background-color: white;
    /*border-top: 2px dashed #D3D3D3;*/
    height: 85vh; 
    overflow-y: auto;
    padding: 3vh 1vh; 
    font-size: 1.1em;
    border: 15px solid #D3D3D3; /* Gray border */
    border-radius: 10px;
}

#magicMirrorModule.expanded {
    height: 92vh;
}

#magicMirrorModule.expanded:before {
    content: '⌄';
    height: 30px;
    padding: 0 15px 15px 15px;
    bottom: 89vh;
}

#magicMirrorModule.expanded .infoGrid {
    display: block;
    color: rgba(60, 60, 60, 0.8);
}

#magicMirrorModule .infoGrid section div {
    display: flex;
    align-items: center;
}

#magicMirrorModule .infoGrid section div i {
    width: 30px;  /* You can adjust this width value */
    text-align: center;
    display: inline-block; /* This ensures the width setting applies */
}

#magicMirrorModule .infoGrid section div span:nth-child(2) {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 30px;
}

#magicMirrorModule .infoGrid section div span:last-child {
    flex: 0 0 auto;
    text-align: right; /* Right align the phone number */
    margin-right: 20px;
}

.infoGrid h1 { 
    font-family: "Caveat", "cursive", "sans-serif";
    color: #2f18c4;
    text-align: center;
    margin-top: 0;
    font-size: 1.5em;
}

.infoGrid h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-family: "Caveat", "cursive", "sans-serif"; 
    margin-top: 0;
    color: rgba(60, 60, 60, 0.8);
    text-align: center;
}

.infoGrid section {
    padding: 2px;
    border: none;
    box-sizing: border-box;
    margin: 5px;
}

.infoGrid div {
    border-bottom: 1px dotted #D3D3D3;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
